{% extends "layout.html" %}

{% block title %}
Chats
{% endblock %}

{% block main %}
<div class="container full-height">
    <h1 class="mt-5">Your Chats</h1>

    <div class="chat-container-wrapper my-4">
        <!-- Chat list container -->

        <!-- Chat messages container -->
        <div id="chat-container" class="chat-container">
            {% for chat in chats %}
            <div class="message">
                <ul class="list-group lgc mt-4">

                    <li class="list-group-item">
                        <a href="{{ url_for('do_chat', chat_id=chat.chat_id) }}">{{ chat.chat_name }}</a>
                    </li>

                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Input form container -->
    <div class="form-container">
        <form action="{{ url_for('start_chat') }}" method="get">
            <button type="submit" class="btn btn-primary">Start a New Chat</button>
        </form>
    </div>
</div>


<!--old-->


<!--<div class="container">-->
<!--    <h1 class="mt-5">Your Chats</h1>-->
<!--    <ul class="list-group scrollable-list mt-4">-->
<!--        {% for chat in chats %}-->
<!--        <li class="list-group-item">-->
<!--            <a href="{{ url_for('do_chat', chat_id=chat.chat_id) }}">{{ chat.chat_name }}</a>-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    <form action="{{ url_for('start_chat') }}" method="get" class="bottom-button">-->
<!--        <button type="submit" class="btn btn-primary">Start Chat</button>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}
