{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<h1>ChatBot Interface</h1>
<div id="chat-container">
    {% for message in bot.messages %}
    {% if message.role == 'user' %}
    <p><strong>YOU:</strong> {{ message.content }}</p>
    {% elif message.role == 'assistant' %}
    <p><strong>MISTRAL:</strong> {{ message.content }}</p>
    {% elif message.role == 'system' %}
    <p><strong>SYSTEM:</strong> {{ message.content }}</p>
    {% endif %}
    {% endfor %}
</div>

<form action="/chat" method="post">
    <input type="text" name="user_input" id="user_input" autocomplete="off">
    <input type="submit" value="Send">
</form>
{% endblock %}

